# Standard ignores
*.o
*.so
*.pyc
*.db
*.log
*~
*.swp

# Compile output
/serial/bin/
/applications/bin/
/acoustics/bfin/bin/
/acoustics/bfin/acoustics_bundle.tar
/acoustics/libseawolf/
/misc/HUD/HUD
/doc/build/

# Vision
*.jpg
*.jpeg
/vision/libvision/doc/
/vision/libvision/c/interface.py
/vision/libvision/c/interface_wrap.c
