NET "addr<0>" LOC = AF15;
NET "addr<1>" LOC = AD15;
NET "addr<2>" LOC = AF14;
NET "addr<3>" LOC = AE15;
NET "addr<4>" LOC = Y8;
NET "addr<5>" LOC = Y7;
NET "addr<6>" LOC = AA13;
NET "addr<7>" LOC = AA9;
NET "addr<8>" LOC = AA12;
NET "addr<9>" LOC = AA14;
NET "addr<10>" LOC = AB14;
NET "addr<11>" LOC = AC14;
NET "addr<12>" LOC = AA10;
NET "addr<13>" LOC = AD14;
NET "addr<14>" LOC = AB12;
NET "addr<15>" LOC = AC13;
NET "addr<16>" LOC = AB11;
NET "addr<17>" LOC = AC12;
NET "addr<18>" LOC = AB9;
NET "ardy" LOC = W4;
NET "are" LOC = AC4;
NET "awe" LOC = AA4;
NET "bank_select<0>" LOC = V4;
NET "bank_select<1>" LOC = U4;
NET "bank_select<2>" LOC = U5;
NET "bank_select<3>" LOC = U6;
NET "data_bus<0>" LOC = AC9;
NET "data_bus<1>" LOC = AD9;
NET "data_bus<2>" LOC = AA8;
NET "data_bus<3>" LOC = AD8;
NET "data_bus<4>" LOC = AA7;
NET "data_bus<5>" LOC = AC8;
NET "data_bus<6>" LOC = AD6;
NET "data_bus<7>" LOC = AC7;
NET "data_bus<8>" LOC = AD5;
NET "data_bus<9>" LOC = AB6;
NET "data_bus<10>" LOC = AD4;
NET "data_bus<11>" LOC = AC6;
NET "data_bus<12>" LOC = AB7;
NET "data_bus<13>" LOC = AB5;
NET "data_bus<14>" LOC = AA5;
NET "data_bus<15>" LOC = AB4;
NET "testClk" LOC = J11;
NET "led1" LOC = W10;
NET "led2" LOC = Y6;
#NET "uart_fpga_rx_pf0" LOC = P5;
#NET "uart_fpga_tx_pf1" LOC = R5;
NET "sma1" LOC = AD13;
NET "sma2" LOC = AE13;

NET "testClk" TNM_NET = "testClk";
TIMESPEC TS_testClk = PERIOD "testClk" 100 MHz;
NET "awe" IOSTANDARD = "LVCMOS18";
NET "bank_select<0>" IOSTANDARD = "LVCMOS18";
NET "bank_select<1>" IOSTANDARD = "LVCMOS18";
NET "bank_select<2>" IOSTANDARD = "LVCMOS18";
NET "bank_select<3>" IOSTANDARD = "LVCMOS18";
NET "are" IOSTANDARD = "LVCMOS18";
NET "ardy" IOSTANDARD = "LVCMOS18";
#NET "uart_fpga_tx_pf1" IOSTANDARD = "LVCMOS18";
#NET "uart_fpga_rx_pf0" IOSTANDARD = "LVCMOS18";
NET "led2" IOSTANDARD = "LVCMOS18";
NET "sma1" IOSTANDARD = "LVCMOS18";
NET "addr<0>" IOSTANDARD = "LVCMOS18";
NET "addr<1>" IOSTANDARD = "LVCMOS18";
NET "addr<2>" IOSTANDARD = "LVCMOS18";
NET "addr<3>" IOSTANDARD = "LVCMOS18";
NET "addr<4>" IOSTANDARD = "LVCMOS18";
NET "addr<5>" IOSTANDARD = "LVCMOS18";
NET "addr<6>" IOSTANDARD = "LVCMOS18";
NET "addr<7>" IOSTANDARD = "LVCMOS18";
NET "addr<8>" IOSTANDARD = "LVCMOS18";
NET "addr<9>" IOSTANDARD = "LVCMOS18";
NET "addr<10>" IOSTANDARD = "LVCMOS18";
NET "addr<11>" IOSTANDARD = "LVCMOS18";
NET "addr<12>" IOSTANDARD = "LVCMOS18";
NET "addr<13>" IOSTANDARD = "LVCMOS18";
NET "addr<14>" IOSTANDARD = "LVCMOS18";
NET "addr<15>" IOSTANDARD = "LVCMOS18";
NET "addr<16>" IOSTANDARD = "LVCMOS18";
NET "addr<17>" IOSTANDARD = "LVCMOS18";
NET "addr<18>" IOSTANDARD = "LVCMOS18";
NET "data_bus<0>" IOSTANDARD = "LVCMOS18";
NET "data_bus<1>" IOSTANDARD = "LVCMOS18";
NET "data_bus<2>" IOSTANDARD = "LVCMOS18";
NET "data_bus<3>" IOSTANDARD = "LVCMOS18";
NET "data_bus<4>" IOSTANDARD = "LVCMOS18";
NET "data_bus<5>" IOSTANDARD = "LVCMOS18";
NET "data_bus<6>" IOSTANDARD = "LVCMOS18";
NET "data_bus<7>" IOSTANDARD = "LVCMOS18";
NET "data_bus<8>" IOSTANDARD = "LVCMOS18";
NET "data_bus<9>" IOSTANDARD = "LVCMOS18";
NET "data_bus<10>" IOSTANDARD = "LVCMOS18";
NET "data_bus<11>" IOSTANDARD = "LVCMOS18";
NET "data_bus<12>" IOSTANDARD = "LVCMOS18";
NET "data_bus<13>" IOSTANDARD = "LVCMOS18";
NET "data_bus<14>" IOSTANDARD = "LVCMOS18";
NET "data_bus<15>" IOSTANDARD = "LVCMOS18";
NET "sma2" IOSTANDARD = "LVCMOS18";
NET "testClk" IOSTANDARD = "LVCMOS18";
NET "led1" IOSTANDARD = "LVCMOS18";
